body{
    background-color: whitesmoke;
}
table,tr,td,img{
    font-size: 105%;
    border-color: black;
    border-radius: 10px;
    padding: 3px;
}

select,.input,textarea{
    padding: 5px 20px;
    width: 100%;
    border-radius: 5px;
}
.hp{
    margin-left: 1.3%;
    border-radius: 10px;
    height: auto;
    width: 97%;
}
tr{
    font-size: 110%;
    background-color:darkseagreen;
}
button{
    margin-left: 3%;
    border-radius: 8px;
}